<!--About画面(public)-->
<div class="container">

  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <div>
        <h1 class="text-center mb-5">About</h1>
        <p class="text-center">ながのCAKEは全国発送ks脳なケーキ屋さんです。</p>
        <p class="text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
        <p class="text-center">さまざまなバリエーションをご用意しております。</p>
        <p class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
        <p class="text-center">ぜひご注文ください。</p>
      </div>
    </div>
  </div>

</div>