<!--About画面(public)-->
<div class="container">

  <div class="row mt-5">
    <!--<div class="col-md-8 offset-md-1">-->
      <!--ジャンル検索用-->
    <!--</div>-->
    <div class="col-md-10 offset-md-1">
      <div>
        <P>About</P>
        <p>ながのCAKEは全国発送ks脳なケーキ屋さんです。</p>
        <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
        <p>さまざまなバリエーションをご用意しております。</p>
        <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
        <p>ぜひご注文ください。</p>
      </div>
    </div>
  </div>

</div>